<%- include('../layouts/header', {titulo: 'ERRO!!!!'}) %>

<%- include('../layouts/menu') %>

<section class="section hero is-danger is-fullheight-with-navbar">
    <div class="columns">
        <div class="column is-half">
            <div class="box">
                <p>Tarefa excluida com sucesso</p>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <a href="/checklists">Voltar para os checklists</a>
            </div>
        </div>
      </div>
</section>

<%- include('../layouts/footer') %>
  